       <!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/Estilo.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="imagenes/iconobarra.png"/>
        <link rel="stylesheet" href="fonts.css"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <title>Cristian Robles</title>
        <style>body{
    background-image:  url(imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}</style>

        
    </head>
    <body>
        <div id="fb-root"></div>

        <div id="general">
            <header id="encabezado">
                <a id="info" href="#">
                    
                    <span class="site-name">
                        <img src="imagenes/icono.png" alt="" class="encab"width="60" height="60"/>INVENTARIO</span>
                    
                </a>
                <nav>
                    <ul>
                        <li><a href="index.html" >CARGAR</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="contacto.html">USUARIO</a></li>
                        
                    </ul>
                </nav>
            </header><hr>
        
            <div id="social" class="redes">
                <ul>
                   
                     
                </ul>
                
            </div>
            <div id="menu">
                <ul class="servicios">
                    <li><a href="#">Categorias</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#">&nbsp;</a></li>
                    <li><a href="#">&nbsp;</a></li>
                    <li><a href="#">&nbsp;</a></li>
                </ul>
                <p>
   
</p>
            </div>
            
            <div class="wrap" id="reloj"><script src="JavaScript/reloj.js"></script>
                <div class="widget">
                    <div class="fecha">
                        <p id="diaSemana" class="diaSemana"></p>  
                        <p id="dia" class="dia"></p>
                        <p>de</p>
                        <p id="mes" class="mes"></p>
                        <p>del</p>
                        <p id="year" class="year"></p>
                    </div>
                    <div class="hora">
                        <p id="horas" class="horas"></p>
                        <p>:</p>
                        <p id="minutos" class="minutos"></p>
                        <p>:</p>
                        <div class="caja-segundos">
                            <p id="ampm" class="ampm"></p>
                            <p id="segundos" class="segundos"></p>
                        </div>
                    </div>
                </div>
                <script src="JavaScript/reloj.js"></script>
            </div>
                <div id="presentacion">
                    <p class='present'->
   . <br>
                        
                    br>
                            
                       
                    >
                        </p>
            </div>
           <!-- <div id="juegos">
                <h3 class="textjuego">Juegos</h3>
                <p class="juegos">Típicamente, los videojuegos recrean entornos y situaciones <br>
                    virtuales en los que el videojugador puede controlar a uno o<br>
                    varios personajes (o cualquier otro elemento de dicho entorno),<br> 
                    para conseguir uno o varios objetivos dentro de unas reglas determinadas.<br>

                    Dependiendo del videojuego, una partida puede disputarla una sola<br>
                    persona contra la máquina, dos o más personas en la misma máquina,<br>
                    o bien múltiples jugadores a través de una red LAN o en línea vía Internet, <br>
                    compitiendo colaborativamente contra la máquina o entre sí.<br>

                    Existen videojuegos de muchos tipos. Algunos de los géneros más <br>
                    representativos son los videojuegos de acción, rol, estrategia, <br>
                    simulación, deportes o aventura.</p>
                <video width="300" height="220" controls>
                    <source src="Battlefield V - Official Reveal Trailer.mp4" type="video/mp4">
                    Your browser does not support the <code>video</code> tag.
                </video>
                
               </div> -->
            
                <!-- <div id="peliculas">
                   <h3 class="peliculas">Peliculas</h3>
                    <img src="imagenes/peliculas.jpg" alt="" width="310" height="180" class="imgpelis"/>
                    <p class="texpeli">Un metodo de entretenimiento para muchas personas en sus tiempos libres<br>
                            es ver peliculas, series, novelas entre otras derivaciones cinematograficas,<br>
                            en ocasiones es dificil encontrar algunas peliculas ya estrenadas o que <br>
                            fueron lanzadas recientemente asi que por este motivo no se encuentran.<br>
                            En esta pagina podras buscar tus peliculas favoritas y si gustas descargarlas<br>
                            para que las veas en cualquier momento.</p>
                
            </div>-->
            
            <div id="apps"></div>
            
            <div id="tutoriales"></div>
            <hr>
            <div id="inferior">
                <div class="fb-comments" data-href="https://cristianrobles.000webhostapp.com/" data-width="900"  data-numposts="5"></div>
            </div>
        </div> 
        
    </body>
</html>